on boot
    start recovery_usbfix

on property:sys.usb.config=adb
    start recovery_usbfix

service recovery_usbfix /system/bin/sh /usbfix.sh
    class main
    user root
    group root system shell
    seclabel u:r:init:s0
    disabled
    oneshot
